:root {
    --title-H1 : red;
    --paragraph : red;
    --title-color : red;
    --title-color : red;
    --title-color : red;
    --title-color : red;
    --title-color : red;
    --title-color : red;
}
